.back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  margin-left: 20px;
  width: 80px;
  padding: 8px 12px;
  font-size: 12px;
  border-radius: 10px;
  outline: none;
  font-family: var(--font-subtitle);
  border: 2px solid #ccc;
  background-color: #6b1381;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #9b4caf;
}

.back-button-logo {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
