body {
  background-color: var(--main-bg-color);
  font-family: var(--font-title);
  font-family: var(--font-subtitle);
  font-family: var(--font-text);
}

.container-detail {
  display: grid;
  grid-template-columns: 45% 50%; /* 40% pour l'image, 60% pour les détails */
  grid-template-rows: auto auto;
  gap: 40px; /* Espace entre les colonnes */
  margin: 50px;
}

.streetart-image {
  width: 100%; /* L'image prend toute la largeur de la première colonne */
  height: 40vw; /* Conserve le ratio d'aspect de l'image */
  border-radius: 8px;
}

.detail-streetart-container {
  grid-column: 2 / 3; /* Place les détails dans la deuxième colonne */
  grid-row: 1 / 2; /* Place les détails dans la première ligne */
  display: flex;
  flex-direction: column; /* Aligne les détails en colonne */
  color: white;
}

h3,
h4 {
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 10px; /* Espace entre les éléments */
}

.description-container {
  grid-column: 2 / 3; /* Place les détails dans la deuxième colonne */
  grid-row: 1 / 2; /* Place la description sur la deuxième ligne */
  align-self: flex-end;
  margin-top: 10px;
  background-color: white;
  border-radius: 8px;
  opacity: 60%;
  width: 70%;
}

.description-container > h5,
.description-container > p {
  font-size: 1.2rem;
  margin-bottom: 0;
  padding: 3px;
}

.description-container > h5 {
  text-decoration: underline;
  margin-top: 5px;
}

@media (max-width: 390px) {
  .container-detail {
    display: grid;
    grid-template-columns: 40% 60%; /* 40% pour l'image, 60% pour les détails */
    grid-template-rows: auto auto;
    gap: 10px; /* Espace entre les colonnes */
    align-items: center; /* Aligne le contenu en haut */
    margin: 10px;
  }

  .streetart-image {
    grid-column: 1 / 2; /* Place l'image dans la première colonne */
    grid-row: 1 / 2; /* Place l'image dans la première ligne */
    width: 100%; /* L'image prend toute la largeur de sa colonne */
    height: 35vw;
    margin: 0px;
  }

  .detail-streetart-container {
    grid-column: 2 / 3; /* Place les détails dans la deuxième colonne */
    grid-row: 1 / 2; /* Place les détails dans la première ligne */
    display: flex;
    flex-direction: column; /* Aligne les détails en colonne */
    justify-content: flex-start;
    margin: 10px;
  }

  .detail-streetart-container > h3,
  .detail-streetart-container > h4,
  .detail-streetart-container > p {
    font-size: 0.7rem;
    margin: 8px;
    width: 100%;
  }

  .description-container {
    grid-column: 1 / -1; /* Étend la description sur toute la largeur (les deux colonnes) */
    grid-row: 2 / 3; /* Place la description sur la deuxième ligne */
    width: 95%;
  }

  .description-container > h5,
  .description-container > p {
    font-size: 0.9rem;
    margin-bottom: 0;
    padding: 6px;
  }
}
