body {
  background-color: var(--main-bg-color);
  font-family: var(--font-title);
  font-family: var(--font-subtitle);
  font-family: var(--font-text);
}

.container-detail {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 50px;
}

.streetart-image {
  max-width: 50vw;
  height: 30vw;
  border-radius: 8px;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
}

.detail-streetart-container {
  max-width: 100%;
  color: white;
}

h3,
h4 {
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
}

.description-container {
  margin: 0px 5px;
  margin-top: 130px;
  width: 60%;
  background-color: #ffffff;
  opacity: 60%;
  padding: 20px;
  border-radius: 8px;
}

.description-container > h5 {
  text-decoration: underline;
  color: black;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.streetart-description {
  color: black;
  line-height: 1.2;
}

@media (max-width: 390px) {
  .container-detail {
    display: grid;
    grid-template-columns: 40% 60%; /* 40% pour l'image, 60% pour les détails */
    grid-template-rows: auto auto;
    gap: 10px; /* Espace entre les colonnes */
    align-items: start; /* Aligne le contenu en haut */
    margin-top: 0px;
  }

  .streetart-image {
    grid-column: 1 / 2; /* Place l'image dans la première colonne */
    grid-row: 1 / 2; /* Place l'image dans la première ligne */
    width: 100%; /* L'image prend toute la largeur de sa colonne */
    height: 35vw;
    margin: 8px;
  }

  .detail-streetart-container {
    grid-column: 2 / 3; /* Place les détails dans la deuxième colonne */
    grid-row: 1 / 2; /* Place les détails dans la première ligne */
    display: flex;
    flex-direction: column; /* Aligne les détails en colonne */
    justify-content: flex-start;
    margin: 10px;
  }

  .detail-streetart-container > h3,
  .detail-streetart-container > h4,
  .detail-streetart-container > p {
    font-size: 0.7rem;
    margin: 8px;
    width: 100%;
  }

  .description-container {
    grid-column: 1 / -1; /* Étend la description sur toute la largeur (les deux colonnes) */
    grid-row: 2 / 3; /* Place la description sur la deuxième ligne */
    margin-top: 10px;
    margin-left: 10px;
    width: 95%;
  }

  .description-container > h5,
  .description-container > p {
    font-size: 0.9rem;
    margin-bottom: 0;
    padding: 0px;
  }
}
