.login-connexion {
  background-color: var(--main-bg-color);
  color: white;
  font-family: var(--font-title);
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  flex-direction: column;
}
.form-connection {
  margin: 1.5rem;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: var(--font-subtitle);
}
.form-connection label {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: auto;
  font-size: 1.75rem;
  align-items: center;
  color: white;
}

.form-connection input {
  width: 30rem;
  max-width: 100%;
  height: 2.5rem;
  max-height: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.box-button {
  display: flex;
  justify-content: center;
}
.form-connection button {
  margin-top: 3rem;
}
@media (max-width: 390px) {
  .login-connexion {
    height: 125vh;
    width: 125vw;
  }
  .form-connection input {
    width: 17rem;
    max-width: 100%;
  }
}
