.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-bg-color); 
  padding: 10px 20px;
  height: 60px;
  position: sticky;
  top: 0;
}
 
.logo {
  display: flex;
  justify-content: center;
  margin-right: auto;
  padding-bottom: 1rem;
  width: 75px;
  height: 60px; 
}

.navigation {
  display: flex;
  gap: 20px;
  .button-login {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    padding: 20px;
 }
}