@media only screen and (max-width: 1000px) {
  .hunter-game-background {
    background-image: url("../assets/backgroundHunterGame.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    transform: scaleX(1.26);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .screen-container {
    width: 50%;
    height: 35%;
    background-color: transparent;
    border: 2px solid #00000000;
    border-radius: 9px;
    display: flex;
    align-items: stretch;
    margin-top: 95px;
    margin-bottom: 117px;
    overflow: hidden;
  }

  .captured-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 9px;
  }

  .button-top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
  }

  .button-down-container {
    display: flex;
    justify-content: center;
    width: 60%;
  }

  .return-btn,
  .valid-btn,
  .capture-btn {
    width: 50px;
    height: 50px;
    background-color: transparent;
    background-clip: padding-box;
    border: none;
    border-radius: 2em;
    color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition:
      box-shadow 0.3s ease-in-out,
      border-color 0.3s ease-in-out;
    &:hover,
    &:focus {
      border-color: #6b2764;
      box-shadow:
        0 0 10px 2px #d28eec,
        0 0 20px 4px #d28eec,
        0 0 30px 6px #d28eec;
    }
  }
  .return-btn {
    margin-right: 17px;
    margin-top: 2px;
  }

  .capture-btn {
    margin-left: 4px;
    margin-top: 3px;
  }

  .valid-btn {
    margin-left: 2px;
  }
}
