.result-container {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-left: 20px;
  flex-direction: column;
  justify-content: space-evenly;
}

.result-logo {
  width: 10rem;
  height: auto;
  margin-right: 20px;
}

.result-content {
  display: flex;
  flex-direction: column;
}
.result-container h3 {
  color: var(--main-text-color);
}
.result-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 20px;
  color: var(--main-text-color);
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid #ddd;
  background-color: #1d0528;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.result-table th,
.result-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.result-table th {
  background-color: #3b0a45;
  color: var(--main-text-color);
  font-weight: bold;
}

.table-image {
  width: 50px;
  height: auto;
}
.result-image {
  min-height: 15rem;
  max-height: 15rem;
  border-radius: 10px;
  object-fit: cover;
}
.status-validated {
  color: green;
  background-color: transparent;
}

.status-rejected {
  color: red;
  background-color: transparent;
}

.status-pending {
  color: orange;
  background-color: transparent;
}
@media (max-width: 390px) and (max-height: 844px) {
  .result-container {
    width: 100%;
  }

  .result-image {
    min-height: 7rem;
    max-height: 7rem;
    border-radius: 10px;
    object-fit: cover;
  }

  .result-table {
    display: flex;
    flex-direction: row;
  }

  .result-table th,
  .result-table td {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .head-table-result {
    display: none;
  }
}
