.search-form {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.search-input {
  width: 300px;
  padding: 8px 12px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 10px 0 0 10px;
  outline: none;
  font-family: var(--font-subtitle);
}

.search-button {
  padding: 8px 16px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-left: none;
  background-color: #6b1381;
  color: white;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  font-family: var(--font-subtitle);
}

.search-button:hover {
  background-color: #9b4caf;
}
